<% /* Note: This is injected into `views/layouts/layout-email.ejs` */ %>
<div style="padding: 25px; margin-top:10px; background-color: #14acc2; border-top-left-radius: 6px; border-top-right-radius: 6px; border: 1px solid #0c8da0;">
  <h2 style="text-align: center; color: #ffffff; margin:0px; font-size: 34px;">Reset your password</h2>
</div>
<div style="background-color: #ffffff; padding: 25px; margin-bottom: 25px; color: #303030; border-bottom-left-radius: 6px; border-bottom-right-radius: 6px; border: 1px solid #cccccc;">
  <p style="margin-bottom: 35px;">Dear <%= fullName %>,</p>
  <p>Someone requested a password reset for your account. If this was not you, please disregard this email. Otherwise, click the link below to choose a new password:</p>
  <p style="margin-bottom: 35px;"><a style="color: #14acc2" href="<%= url.resolve(sails.config.custom.baseUrl,'/password/new')+'?token='+encodeURIComponent(token) %>"><%= url.resolve(sails.config.custom.baseUrl,'/password/new')+'?token='+encodeURIComponent(token) %></a></p>
</div>
