<div id="available-things" v-cloak>

  <div class="container">
    <div class="page-header text-center">
      <h1>Things</h1>
      <h2>View available items to borrow, or upload your own things.</h2>
      <div class="header-buttons">
        <button class="btn btn-outline-primary" @click="clickAddButton()">Add an item</button>
      </div>
    </div>
    <div class="listings" v-if="things.length > 0">
      <div class="card" :key="'thing'+thing.id" :class="[thing.owner.id === me.id ? 'mine' : '', thing.unavailable ? 'not-available' : '']" v-for="thing in things">
        <div class="card-options dropdown" v-if="thing.borrowedBy && thing.owner.id === me.id">
          <span class="options-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-ellipsis-v"></span></span>
          <div class="dropdown-menu dropdown-menu-right">
            <span class="dropdown-item" @click="clickDeleteThing(thing.id)">Delete</span>
            <span class="dropdown-item" @click="clickMarkReturned(thing.id)">Mark as returned</span>
            <span class="dropdown-item" @click="clickContactBorrower(thing.id)">Contact {{thing.borrowedBy.fullName}}</span>
          </div>
        </div>
        <div class="card-options dropdown" v-else-if="thing.borrowedBy && thing.borrowedBy.id === me.id">
          <span class="options-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-ellipsis-v"></span></span>
          <div class="dropdown-menu dropdown-menu-right">
            <span class="dropdown-item" @click="clickReturn(thing.id)">Give this back</span>
            <span class="dropdown-item" @click="clickContactOwner(thing.id)">Contact {{thing.owner.fullName}}</span>
          </div>
        </div>
        <div class="card-options" v-else-if="!thing.borrowedBy">
          <span class="options-button" data-toggle="tooltip" data-placement="top" title="Delete" @click="clickDeleteThing(thing.id)" v-if="thing.owner.id === me.id"><span class="fa fa-trash-o text-danger"></span></span>
          <span class="options-button borrow" data-toggle="tooltip" data-placement="top" title="Borrow" @click="clickBorrow(thing.id)" v-else><span class="fa fa-handshake-o text-dark"></span></span>
        </div>
        <img :alt="thing.label ? thing.label : 'A mysterious item'" :src="thing.imageSrc"/>
        <span class="label" v-if="thing.label">{{thing.label}}<br/></span>
        <small class="owner text-secondary" v-if="thing.owner.id === me.id"><span class="fa fa-home mr-1"></span> Mine</small>
        <small class="owner text-success" v-else-if="thing.borrowedBy && thing.borrowedBy.id === me.id"><span class="fa fa-star-o mr-1"></span> Borrowing</small>
        <small class="owner text-primary" v-else>{{thing.owner.fullName}}</small>
      </div>
    </div>
    <div class="empty text-center" v-else><p>You and your friends have not uploaded any items. <a href="/things/new" @click="clickAddButton()">Add something</a> to get started!</p></div>
  </div>

  <% /* "Upload thing" modal */ %>
  <modal v-if="virtualPageSlug === 'new'" v-cloak key="new" @close="closeUploadThingModal()">
    <div class="modal-header">
      <h5 class="modal-title">Upload a new thing</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span>&times;</span>
      </button>
    </div>
    <ajax-form action="uploadThing" :syncing.sync="syncing" :cloud-error.sync="cloudError" :handle-parsing="handleParsingUploadThingForm" @submitted="submittedUploadThingForm($event)">
      <div class="modal-body">
        <div class="form-group">
          <label>Add a photo:</label>
          <div class="photo-uploader" :class="!uploadFormData.previewImageSrc ? 'empty' :  ''">
            <div class="photo-upload-field row d-flex align-items-center" :class="!uploadFormData.previewImageSrc ? 'justify-content-center' :  'justify-content-start'" >
              <div class="photo-preview col">
                <div class="image-wrapper" :class="!uploadFormData.previewImageSrc ? 'd-flex align-items-center justify-content-center' : ''">
                  <img v-if="uploadFormData.previewImageSrc" alt="A preview of the selected item" :src="uploadFormData.previewImageSrc"/>
                  <span v-else class="placeholder-icon fa fa-picture-o"></span>
                </div>
              </div>
              <div class="col d-flex-column justify-content-center">
                <span class="file-upload-button btn btn-sm" :class="[formErrors.photo ? 'btn-outline-danger' : !uploadFormData.previewImageSrc ? 'btn-outline-success' : 'btn-outline-secondary mr-3']">
                  <span class="button-text" v-if="!uploadFormData.previewImageSrc">Select image</span>
                  <span class="button-text" v-else>Change image</span>
                  <input type="file" :disabled="syncing" accept="image/*" class="file-input" @change="changeFileInput($event.target.files)"/>
                </span>
                <p class="image-advice text-muted" v-if="!formErrors.photo"><strong>Tip</strong>: Make sure the item is front and center in the photo, so people know exactly what you're offering to share.</p>
                <p class="image-advice text-danger" v-if="formErrors.photo">A photo is required in order to add a new item.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group" v-if="uploadFormData.previewImageSrc">
          <label>What is it?</label>
          <input class="form-control" type="text" v-model="uploadFormData.label" placeholder="Waffle Iron">
        </div>
        <p class="text-danger" v-if="cloudError === 'tooBig'"><small>That file is too big. Please choose a junkier picture.</small></p>
        <p class="text-danger" v-else-if="cloudError"><small>An error occured while processing your request. Please check your information and try again, or <a href="/support">contact support</a> if the error persists.</small></p>
      </div>
      <div class="modal-footer flex-row-reverse justify-content-start">
        <ajax-button type="submit" :syncing="syncing" class="btn btn-primary ml-1">Share item</ajax-button>
        <button data-dismiss="modal" class="btn btn-outline-primary mr-1">Cancel</button>
      </div>
    </ajax-form>
  </modal>

  <% /* "Borrow thing" modal */ %>
  <modal v-if="borrowThingModalOpen && selectedThing" v-cloak key="borrow" @close="closeBorrowThingModal()">
    <div class="modal-header">
      <h5 class="modal-title">Borrow this {{selectedThing.label || 'item'}}</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span>&times;</span>
      </button>
    </div>
    <ajax-form action="borrowThing" :syncing.sync="syncing" :cloud-error.sync="cloudError" :handle-parsing="handleParsingBorrowThingForm" @submitted="submittedBorrowThingForm($event)" v-if="!borrowFormSuccess">
      <div class="modal-body">
        <div class="item-preview d-flex justify-content-center">
          <div class="card">
            <img :alt="selectedThing.label ? selectedThing.label : 'A mysterious item'" :src="selectedThing.imageSrc"/>
          </div>
        </div>
        <div class="form-group mt-4">
          <label>How long do you want to borrow it?</label>
          <div class="field-wrap">
            <span class="datepicker-label">Until</span>
            <datepicker ref="datepickerref" v-model="borrowFormData.expectedReturnAt" placeholder-text="(Choose return date)" :popup="true" :invalid="formErrors.expectedReturnAt" validation-error-message="Please let the owner know when you can return the item."></datepicker>
          </div>
        </div>
        <div class="form-group mt-4">
          <label>When can you pick it up?</label>
          <input class="form-control" type="text" placeholder="e.g. This afternoon or anytime tomorrow" v-model="borrowFormData.pickupInfo" :class="[formErrors.pickupInfo ? 'is-invalid' : '']">
          <div class="invalid-feedback" v-if="formErrors.pickupInfo">Please add your pickup availability.</div>
        </div>
        <p class="text-danger" v-if="cloudError"><small>An error occured while processing your request. Please check your information and try again, or <a href="/support">contact support</a> if the error persists.</small></p>
      </div>
      <div class="modal-footer  flex-row-reverse justify-content-start">
        <ajax-button type="submit" :syncing="syncing" class="btn btn-primary ml-1">Borrow</ajax-button>
        <button data-dismiss="modal" class="btn btn-outline-primary mr-1">Cancel</button>
      </div>
    </ajax-form>
    <div class="modal-body" v-else>
      <p>We let the owner of <strong class="text-success">{{selectedThing.label || 'item'}}</strong> know when you could drop by.</p>
      <p>Stay in touch with {{selectedThing.owner.fullName}} to confirm pickup details: <strong>{{selectedThing.owner.emailAddress}}</strong></p>
    </div>
    <div class="modal-footer" v-if="borrowFormSuccess">
      <button data-dismiss="modal" class="btn btn-outline-success">Got it</button>
    </div>
  </modal>

  <% /* "Delete thing" modal */ %>
  <modal v-if="confirmDeleteThingModalOpen && selectedThing" v-cloak key="delete" @close="closeDeleteThingModal()">
    <div class="modal-header">
      <h5 class="modal-title">Remove this item?</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span>&times;</span>
      </button>
    </div>
    <ajax-form action="destroyOneThing" :syncing.sync="syncing" :cloud-error.sync="cloudError" :handle-parsing="handleParsingDeleteThingForm" @submitted="submittedDeleteThingForm()">
      <div class="modal-body">
        <p>Are you sure you want to remove this {{selectedThing.label || 'item'}}?</p>
        <p class="text-muted" v-if="selectedThing.borrowedBy">We will no longer be able to assist with the return of this item, so you will need to contact {{selectedThing.borrowedBy.fullName}} directly to coordinate.</p>
        <p v-else>This item will no longer be available to share with friends.</p>
        <p class="text-danger" v-if="cloudError"><small>An error occured while processing your request. Please check your information and try again, or <a href="/contact">contact support</a> if the error persists.</small></p>
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-outline-secondary mr-1">Nevermind</button>
        <ajax-button type="submit" :syncing="syncing" class="btn btn-danger ml-1">Remove</ajax-button>
      </div>
    </ajax-form>
  </modal>

  <% /* "Schedule return" modal */ %>
  <modal v-if="scheduleReturnModalOpen && selectedThing" v-cloak key="scheduleReturn" @close="closeScheduleReturnModal()">
    <div class="modal-header">
      <h5 class="modal-title">Return {{selectedThing.label || 'this item'}}</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span>&times;</span>
      </button>
    </div>
    <ajax-form action="scheduleReturn" :syncing.sync="syncing" :cloud-error.sync="cloudError" :handle-parsing="handleParsingScheduleReturnForm" @submitted="submittedScheduleReturnForm($event)" v-if="!scheduleReturnFormSuccess">
      <div class="modal-body">
        <div class="item-preview d-flex justify-content-center">
          <div class="card">
            <img :alt="selectedThing.label ? selectedThing.label : 'A mysterious item'" :src="selectedThing.imageSrc"/>
          </div>
        </div>
        <div class="form-group mt-4">
          <label>When can you drop it off?</label>
          <input class="form-control" type="text" placeholder="e.g. This afternoon or anytime tomorrow" v-model="scheduleReturnFormData.dropoffInfo" :class="[formErrors.dropoffInfo ? 'is-invalid' : '']">
          <div class="invalid-feedback" v-if="formErrors.dropoffInfo">Please add your drop-off availability.</div>
        </div>
      </div>
      <div class="modal-footer flex-row-reverse justify-content-start">
        <ajax-button type="submit" :syncing="syncing" class="btn btn-primary ml-1">Return</ajax-button>
        <button data-dismiss="modal" class="btn btn-outline-primary mr-1">Cancel</button>
      </div>
    </ajax-form>
    <div class="modal-body" v-else>
      <p>We let the owner of <strong class="text-success">{{selectedThing.label || 'item'}}</strong> know when you could drop by.</p>
      <p>Stay in touch with {{selectedThing.owner.fullName}} to confirm dropoff details: <strong>{{selectedThing.owner.emailAddress}}</strong></p>
    </div>
    <div class="modal-footer" v-if="scheduleReturnFormSuccess">
      <button data-dismiss="modal" class="btn btn-outline-success">Got it</button>
    </div>
  </modal>

  <% /* "Confirm return" modal */ %>
  <modal v-if="confirmReturnModalOpen && selectedThing" v-cloak key="confirmReturn" @close="closeConfirmReturnModal()">
    <div class="modal-header">
      <h5 class="modal-title">Mark {{selectedThing.label || 'item'}} returned</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span>&times;</span>
      </button>
    </div>
    <ajax-form action="updateOneThing" :syncing.sync="syncing" :cloud-error.sync="cloudError" :handle-parsing="handleParsingConfirmReturnForm" @submitted="submittedConfirmReturnForm($event)">
      <div class="modal-body">
        <p>Has <strong>{{selectedThing.borrowedBy.fullName}}</strong> returned this <strong v-if="selectedThing.label">{{selectedThing.label}}</strong><span v-else>item</span>?</p>
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-outline-secondary mr-1">No</button>
        <ajax-button type="submit" :syncing="syncing" class="btn btn-primary ml-1">Yes</ajax-button>
      </div>
    </ajax-form>
  </modal>
  <%/* For virtual pages */%>
  <router-view></router-view>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
