<div id="things" v-cloak>

  <div class="container">
    <div class="page-header text-center">
      <h1>Things</h1>
      <h2>View available items to borrow, or upload your own things.</h2>
      <div class="header-buttons">
        <button class="btn btn-outline-primary" @click="clickAddButton()">Add an item</button>
      </div>
    </div>
  </div>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
