<div id="things" v-cloak>

  <div class="container">
    <div class="page-header text-center">
      <h1>Things</h1>
      <h2>View available items to borrow, or upload your own things.</h2>
      <div class="header-buttons">
        <button class="btn btn-outline-primary" @click="clickAddButton()">Add an item</button>
      </div>
    </div>
  </div>

  <% /* "Add thing" modal */ %>
  <modal v-if="virtualPageSlug === 'new'" v-cloak key="new" @close="closeUploadThingModal()" @opened="openedUploadThingModal()">
    <div class="modal-header">
      <h5 class="modal-title">Upload a new thing</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span>&times;</span>
      </button>
    </div>
    <ajax-form action="uploadThing" :syncing.sync="syncing" :cloud-error.sync="cloudError" :handle-parsing="handleParsingUploadThingForm" @submitted="submittedUploadThingForm()">
      <div class="modal-body">
        <div>
          <button>Choose photo</button>
        </div>
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-outline-secondary mr-1">Cancel</button>
        <ajax-button type="submit" :syncing="syncing" class="btn btn-primary ml-1">Add</ajax-button>
      </div>
    </ajax-form>
  </modal>
  <%/* For virtual pages */%>
  <router-view></router-view>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
