<div id="things" v-cloak>

  <div class="container">
    <div class="page-header text-center">
      <h1>Things</h1>
      <h2>View available items to borrow, or upload your own things.</h2>
      <div class="header-buttons">
        <button class="btn btn-outline-primary" @click="clickAddButton()">Add an item</button>
      </div>
    </div>
    <div class="listings">
      <div class="card" :class="[thing.owner.id === me.id ? 'mine' : '']" v-for="thing in things">
        <div class="card-options dropdown">
          <span class="options-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-ellipsis-v"></span></span>
          <div class="dropdown-menu dropdown-menu-right" v-if="thing.owner.id === me.id">
            <span class="dropdown-item" @click="clickDeleteThing(thing.id)">Delete</span>
            <span class="dropdown-item" v-if="thing.borrowedBy" @click="clickMarkReturned(thing.id)">Mark as returned</span>
            <span class="dropdown-item" v-if="thing.borrowedBy" @click="clickContactBorrower(thing.id)">Contact {{thing.borrowedBy.fullname}}</span>
          </div>
          <div class="dropdown-menu dropdown-menu-right" v-else-if="thing.borrowedBy && thing.borrowedBy.id === me.id">
            <span class="dropdown-item" @click="clickReturn(thing.id)">Give this back</span>
            <span class="dropdown-item" @click="clickContactOwner(thing.id)">Contact {{thing.owner.fullName}}</span>
          </div>
          <div class="dropdown-menu dropdown-menu-right" v-else>
            <span class="dropdown-item" @click="clickBorrow(thing.id)">Borrow</span>
          </div>
        </div>
        <img :alt="thing.label ? thing.label : 'A mysterious item'" :src="thing.imageSrc"/>
        <span class="label" v-if="thing.label">{{thing.label}}<br/></span>
        <small class="owner text-primary" v-if="thing.owner.id !== me.id">{{thing.owner.fullName}}</small>
        <small class="owner text-success" v-else><span class="fa fa-star-o mr-1"></span> Mine</small>
      </div>
    </div>
    <div class="empty text-center" v-if="things.length === 0"><p>You and your friends have not uploaded any items. <a href="" @click="clickAddButton()">Add something</a> to get started!</p></div>
  </div>

  <% /* "Add thing" modal */ %>
  <modal v-if="virtualPageSlug === 'new'" v-cloak key="new" @close="closeUploadThingModal()">
    <div class="modal-header">
      <h5 class="modal-title">Upload a new thing</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span>&times;</span>
      </button>
    </div>
    <ajax-form action="uploadThing" :syncing.sync="syncing" :cloud-error.sync="cloudError" :handle-parsing="handleParsingUploadThingForm" @submitted="submittedUploadThingForm($event)">
      <div class="modal-body">
        <div class="form-group">
          <label>Add a photo:</label>
          <div class="photo-uploader" :class="!formData.previewImageSrc ? 'empty' :  ''">
            <div class="photo-upload-field row d-flex align-items-center" :class="!formData.previewImageSrc ? 'justify-content-center' :  'justify-content-start'" >
              <div class="photo-preview col">
                <div class="image-wrapper" :class="!formData.previewImageSrc ? 'd-flex align-items-center justify-content-center' : ''">
                  <img v-if="formData.previewImageSrc" alt="A preview of the selected item" :src="formData.previewImageSrc"/>
                  <span v-else class="placeholder-icon fa fa-picture-o"></span>
                </div>
              </div>
              <div class="col d-flex-column justify-content-center">
                <span class="file-upload-button btn btn-sm" :class="[formErrors.photo ? 'btn-outline-danger' : !formData.previewImageSrc ? 'btn-outline-success' : 'btn-outline-secondary mr-3']">
                  <span class="button-text" v-if="!formData.previewImageSrc">Select image</span>
                  <span class="button-text" v-else>Change image</span>
                  <input type="file" name="design-image-upload" :disabled="syncing" accept="image/*" class="file-input" @change="changeFileInput($event.target.files)"/>
                </span>
                <p class="image-advice text-muted" v-if="!formErrors.photo"><strong>Tip</strong>: Make sure the item is front and center in the photo, so people know exactly what you're offering to share.</p>
                <p class="image-advice text-danger" v-if="formErrors.photo">A photo is required in order to add a new item.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group" v-if="formData.previewImageSrc">
          <label>What is it?</label>
          <input class="form-control" type="text" v-model="formData.label" placeholder="Waffle Iron">
        </div>
        <p class="text-danger" v-if="cloudError"><small>An error occured while processing your request. Please check your information and try again, or <a href="/support">contact support</a> if the error persists.</small></p>
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-outline-primary mr-1">Cancel</button>
        <ajax-button type="submit" :syncing="syncing" class="btn btn-primary ml-1">Share item</ajax-button>
      </div>
    </ajax-form>
  </modal>

  <% /* "Borrow thing" modal */ %>
  <modal v-if="virtualPageSlug === 'borrow' && selectedThing" v-cloak key="borrow" @close="closeBorrowThingModal()">
    <div class="modal-header">
      <h5 class="modal-title">Borrow this {{selectedThing.label ? selectedThing.label : 'item'}}</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span>&times;</span>
      </button>
    </div>
    <ajax-form action="borrowThing" :syncing.sync="syncing" :cloud-error.sync="cloudError" :handle-parsing="handleParsingBorrowThingForm" @submitted="submittedBorrowThingForm($event)">
      <div class="modal-body">
        <div class="item-preview d-flex justify-content-center">
          <div class="card">
            <img :alt="selectedThing.label ? selectedThing.label : 'A mysterious item'" :src="selectedThing.imageSrc"/>
          </div>
        </div>
        <p class="text-danger" v-if="cloudError"><small>An error occured while processing your request. Please check your information and try again, or <a href="/support">contact support</a> if the error persists.</small></p>
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-outline-primary mr-1">Cancel</button>
        <ajax-button type="submit" :syncing="syncing" class="btn btn-primary ml-1">Borrow</ajax-button>
      </div>
    </ajax-form>
  </modal>
  <%/* For virtual pages */%>
  <router-view></router-view>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
