<div id="friends" v-cloak>
  <div class="container">
    <div class="page-header text-center">
      <h1>Friends</h1>
      <h2>Add people you want to share stuff with.</h2>
      <div class="header-buttons">
        <button class="btn btn-outline-primary" @click="clickInviteButton()">Invite friends</button>
      </div>
    </div>
  </div>
  <% /* "Add friends" modal */ %>
  <modal v-if="virtualPageSlug === 'new'" v-cloak key="new" @close="closeInviteFriendsModal()" @opened="openedInviteFriendsModal()">
    <div class="modal-header">
      <h5 class="modal-title">Invite friends</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span>&times;</span>
      </button>
    </div>
    <ajax-form action="inviteFriends" :syncing.sync="syncing" :cloud-error.sync="cloudError" :handle-parsing="handleParsingInviteFriendsForm" @submitted="submittedInviteFriendsForm()">
      <div class="modal-body">
        <div class="form-group" v-for="(friend, index) in formData.friends">
          <div class="row">
            <div class="col">
              <label v-if="index === 0">Name</label>
              <input class="form-control" type="text" v-model="formData.friends[index].fullName">
            </div>
            <div class="col">
              <label v-if="index === 0">Email Address</label>
              <input class="form-control" type="email" v-model="formData.friends[index].emailAddress">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-outline-secondary mr-1">Cancel</button>
        <ajax-button type="submit" :syncing="syncing" class="btn btn-primary ml-1">Add</ajax-button>
      </div>
    </ajax-form>
  </modal>
  <%/* For virtual pages */%>
  <router-view></router-view>
</div>

<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
